.youtube-container {
  text-align: center;
  margin-top: 20px;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* Proporción 16:9 */
  padding-top: 30px; /* Altura de cualquier contenido que quieras mostrar debajo del video */
  height: 0;
  overflow: hidden;
  max-width: 800px; /* Limita el ancho del contenedor para que no se extienda demasiado */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;  
}
